.container{
    padding-top: 50px;
    width:560px;
    margin:0 auto;
}
.header{
    width: 500px;
    height:95px;
    position: relative;
    background-color:teal;
}
#date{
    position: absolute;
    bottom: 33px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 90px;
}
.content li{
    width:500px;
    /* height: 300px; */
    background-color:orange;
    overflow: auto;
    margin-left: -40px;
    margin-top: -20px;
}
#input{
    width: 488px;
    height: 40px;
    border: 1px solid;
    border-color: cadetblue;
    padding-left: 10px;
}
p{
    color: white;
    font-family: sans-serif;
    padding-left: 30px;
    font-size: 28px;
}
i{
    color: blueviolet;
}