.container{
    padding-top: 50px;
    width:560px;
    margin:0 auto;
}
.header{
    width: 500px;
    height:95px;
    position: relative;
    background-color:teal;
}
#date{
    position: absolute;
    bottom: 33px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 90px;
}
.content{
    width:500px;
    height: 300px;
    background-color:orange;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
#input{
    width: 488px;
    height: 40px;
    border: 1px solid;
    border-color: cadetblue;
    padding-left: 10px;
}
p{
    color: white;
    font-family: sans-serif;
    padding-left: 30px;
    font-size: 24px;
}
i{
    color: blueviolet;
}
